body,
html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: #000;
}


.header {
    overflow: hidden;
    position: relative;
}

.bg {
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.cimke {
    padding: 80px;
    text-align: right;
    color: rgb(255, 255, 255);
    position: relative;
}

.kamion {
    bottom: 15%;
    position: relative;
    animation: linear;
    animation-name: run;
    animation-duration: 5s;
}

@keyframes run {
    0% {
        left: 0;
    }

    100% {
        left: 65%;
    }
}

.keppozi {
    padding-top: 10px;

}

.dobozok {
    left: 50px;
    top: 210px;
    aspect-ratio: 16/9;
    width: 250px;
}

.kolt {
    font-size: 30px;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 60px;

}




.szin {
    background-color: black !important;
}

.meret {
    aspect-ratio: 16/9;
    width: 100px;
}

.nav-item {
    text-align: start !important;
}

a {
    color: #ffffff !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
    justify-content: center;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 20%;
    position: absolute;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 576px) {
    ul {
        margin-top: 40px;
    }
}

.dekor {
    margin-top: 10px;
    color: white;
    text-shadow: 2px 2px #1d1abc;
}


.box {
    justify-content: center;
    align-items: center;
    width: calc(24% - 16px);
    display: inline-flex;
    margin-right: 33px;
}

.box p {
    line-height: 25px;
    font-size: 15px;
    margin: 18px 0px;
}

.content h1 {
    text-align: center;
    font-size: 100px;
    color: #ffffff;
}

.content h2 {
    text-align: left;
    font-size: 34px;
    text-transform: capitalize;
    margin: 0px;
    color: #ffffff;
}

.box:last-child {
    margin: 0px;
}

.box .content {
    padding: 10px;
    background-color: #021017;
    color: #fff;
    min-height: 200px;
    position: relative;
    transition: 0.4s;
}

.box .content:before {
    display: block;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    background-color: rgb(255, 255, 255);
    right: -2px;
    z-index: -1;
    transform: skew(2deg, 2deg);
}


.box .content:after {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.02);
    right: 0px;
    z-index: -1;
}

.box:nth-child(1) .content:before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.box:nth-child(2) .content:before {
    background: linear-gradient(315deg, #7f00ff, #E91E63);
}

.box:nth-child(3) .content:before {
    background: linear-gradient(315deg, #FF9800, #00afff);
}

.box:nth-child(4) .content:before {
    background: linear-gradient(315deg, #ff0000, #16ff00);
}

